<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectiontitle</key>
		<string>个人信息</string>
		<key>sectionheight</key>
		<string>44</string>
		<key>sectionbg</key>
		<string></string>
		<key>sectionaction</key>
		<string>mySelfInfo</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectiontitle</key>
		<string>朋友圈</string>
		<key>sectionheight</key>
		<string>44</string>
		<key>sectionbg</key>
		<string>left_pyq_bg.png</string>
		<key>sectionaction</key>
		<string>friendCircleAction:</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string>left_pyq_icon0</string>
				<key>title</key>
				<string>附近</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_pyq_icon1</string>
				<key>title</key>
				<string>我的好友</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_pyq_icon2</string>
				<key>title</key>
				<string>大小圈相亲</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_pyq_icon1</string>
				<key>title</key>
				<string>最近联系人</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectiontitle</key>
		<string>优惠圈</string>
		<key>sectionheight</key>
		<string>44</string>
		<key>sectionbg</key>
		<string>left_yhq_bg.png</string>
		<key>sectionaction</key>
		<string>couponsCircleAction:</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string>left_yhq_icon0</string>
				<key>title</key>
				<string>附近商圈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_yhq_icon1</string>
				<key>title</key>
				<string>优惠券</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_yhq_icon2</string>
				<key>title</key>
				<string>团购</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_yhq_icon3</string>
				<key>title</key>
				<string>会员卡</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectiontitle</key>
		<string>活动圈</string>
		<key>sectionheight</key>
		<string>44</string>
		<key>sectionbg</key>
		<string>left_hdq_bg.png</string>
		<key>sectionaction</key>
		<string>activityCircleAction:</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string>left_hdq_icon0</string>
				<key>title</key>
				<string>热门活动</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_hdq_icon1</string>
				<key>title</key>
				<string>选美</string>
			</dict>
			<dict>
				<key>image</key>
				<string>left_hdq_icon2</string>
				<key>title</key>
				<string>照片分享</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
